#Crear{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#imagen{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#formulario{
    font: #FFFAFF;
    margin: 10px;
    background-color: #fc5130ff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    width: 235px;
    max-width: 280px;
    max-height: 4000px;
}
#imagen{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #fc5130ff;
}