#Crear{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#imagen{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#formulario{
    font: #FFFAFF;
    margin: 10px;
    background-color: #fc5130ff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    width: 235px;
    max-width: 280px;
    max-height: 4000px;
}
#imagen h3{
    font-size: 150%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fc5130ff;
}
#contenedor-imagen{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-height: 200px;
    min-width: 200px;
    max-width: 300px;
    max-height: 300px;
    background-color: #fc5130ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: 30BCED;
    border-radius: 5px;
    border-style: double;
}
#pre-imagen{
    border-radius: 10px;
    margin: 10px;
}
