/* --jet: #303036ff;
--process-cyan: #30bcedff;
--ghost-white: #fffaffff;
--tomato: #fc5130ff; 
--black: #050401ff; */

body{
    padding: 0%;
    margin: 0%;
    background-color: #30BCED;
    color:  #fffaffff;
   font-family: monospace;

}
#logo{
     max-width: 130px;
     min-width: none;
}
#menu{
    display: flex;
    flex-wrap: wrap;       
    padding-top: 1px;                   
}
#cabeza{
    font-family: monospace;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 5px;
    height: 100px;
    background-color: #FC5130;
    border-bottom: #FFFAFF;
}
#cabeza h1{
    color: #FFFAFF;
}
#menu a{
    text-transform: uppercase;
    width: 34%;
    margin-top: 0.1px;
    padding: 1%;
    text-align: center;
    max-width:150px;
    border: 3px solid  #fffaffff;
    border-radius: 5px;
    margin: 0.5%;
    text-decoration: none;
    font-size: 200%;
    color: #FFFAFF;
}
#menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}
#menu a:hover{
    background-color: #30BCED;
}

@media (max-width: 600px) {
    #menu{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        font-size: 50%;
        align-items: center;
        justify-content:space-evenly;
    }
    #logo{
        max-width: 80px;
    }
}


