#personajes{
    display: flex;
    text-align: center;
    align-items: center;
}
#personajes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.personaje {
    font: #FFFAFF;
    margin: 10px;
    background-color: #fc5130ff;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items:baseline;
    border-radius: 10px;
    width: 235px;
    max-width: 280px;
    max-height: 4000px;
}
#img{
    display: flex;
    justify-content: center;
}
img {
    border-radius: 60px;
    width: 200px;
}
h1 {
    text-align: center;

}
.personaje h2{
    text-align: center;
    background-color:#30BCED;
    border-radius: 90px;
}
h1 {
    font-size: 400%;
    
}
.personaje p {
    text-align: center;
    background-color: #30BCED;
    border-radius: 90px;
}
.personaje h3 {
    background-color:#30BCED;
    border-radius: 5px;
    text-align: center;

}
.personaje h2, h3 {
    padding: 2px;
}
#img {
    max-width: 300px;
    max-height: 300px;
    min-width: 100%;
    min-height: 100%;
}