/* #personajes{
    display: flex;
    text-align: center;
    align-items: center;
}
#personajes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.personaje {
    font: #FFFAFF;
    margin: 10px;
    background-color: #fc5130ff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 235px;
    max-width: 280px;
    max-height: 4000px;
}
#img{
    display: flex;
    justify-content: center;
}
img {
    border-radius: 60px;
    width: 200px;
}
h1 {
    text-align: center;

}
.personaje h2{
    text-align: center;
    background-color:#30BCED;
    border-radius: 90px;
}
h1 {
    font-size: 400%;
    
}
.personaje p {
    text-align: center;
    background-color: #30BCED;
    border-radius: 90px;
}
.personaje h3 {
    background-color:#30BCED;
    border-radius: 5px;
    text-align: center;

}
.personaje h2, h3 {
    padding: 2px;
}
#img {
    max-width: 300px;
    max-height: 300px;
    min-width: 100%;
    min-height: 100%;
} */

#personajes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.perso{
    height: 500px;
    width: 250px;
    margin: 15px;
    padding: 15px;
    background-color: #FC5130;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    border-radius: 10px;
}
.perso h2, .perso h3{
    border-radius: 5px;
    padding: 3px;
    background-color: #30BCED;
}
#contenedor-img{
    display: flex;
    justify-content: center;
}
.img{
    min-height: 100px;
    min-width: 100px;
    max-width:300px;
    max-height: 300px;
    border-radius: 10px;
}