.intro-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin: auto;
    padding: 2vh;
    align-content: center;
    font-size: 150%;
    background-color: blueviolet;
    border-radius: 20px;
}
.intro-card h2{
    text-align: center;

}
.comentario{
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    height: 200px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#comentarios{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.contenido h2{
    text-align: center;
    font-size: 250%;
}
h3{
    text-align: center;
}
