
#personajes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.perso{
    height: 500px;
    width: 250px;
    margin: 15px;
    padding: 15px;
    background-color: #FC5130;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    border-radius: 10px;
}
.perso h2, .perso h3{
    border-radius: 5px;
    margin: 0px;
    padding: 3px;
    background-color: #30BCED;
}
#contenedor-img{
    display: flex;
    justify-content: center;
}
.img{
    min-height: 100px;
    min-width: 100px;
    max-width:270px;
    max-height: 270px;
    border-radius: 10px;
}