#formu{
    width: 100%;
    font-size: 120%;
    border-radius: 30px;
    display: flex;
    border: 3px solid whitesmoke;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #1249489c;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 45%;
    margin: 2%;
    
}
#imagen{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 45%;
        margin: 2%;
    }
#contenido, #notas{
    height: 20vh;
    width: 80%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 1em;
    resize: vertical;
}
@media (max-width: 768px) {
    #formu {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 90%;
    }

    #imagen {
        width: 80%;
    }
}