/* --jet: #303036ff;
--process-cyan: #30bcedff;
--ghost-white: #fffaffff;
--tomato: #fc5130ff; 
--black: #050401ff; */

body{
    font-family: Arial, sans-serif;
    padding-top: 0%;
    margin: 0%;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/29/13/03/internet-3116062_1280.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:  #fffaffff;
    font-family: monospace;
    height: 100vh;
    width: 100vw;
}
#logo{
    margin: 5px;
    width: 70%;
    height: 70%;

}
#logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 600px;
    height: 85px;
    width: 85px;
}
#salir{
    filter: invert(1);
    width: 10vh;
   border-radius: 600px;
}
#salir:hover{
    background-color: rgb(0, 204, 255);
    border-radius: 200px;
}
#out{
    background-color:  transparent;
    border-radius: 200px;
}

#menu{
    padding: 0%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;       
    height: 100%;             
}
#cabeza{
    padding: 1.5vh ;
    position: fixed;
    top: 0px;
    display: flex;
    margin: 0px;
    height: 11.5vh;
    width: 100vw;
    background-color: #1249489c;
    text-shadow: #000000 1px 1px 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #b1e772;
}

#boton{
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    justify-content: center;
    text-transform: uppercase;
    width: 19vw;
    height: 8vh;
    text-align: center;
    border: 3px solid  #fffaffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 200%;
    color: #FFFAFF;
}
#menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}
#menu a:hover{
    background-color: #258b8a;
}

@media (max-width: 600px) {
    #menu{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        font-size: 50%;
        align-items: center;
        justify-content:space-evenly;
    }
    #logo{
        display: none;
    }
}


